{% extends 'AcmeRememberSeriesBundle:Default:index.html.twig' %}

{% block body %}
    <div>Series: {{ series.name }}!</div>
    <div>Description: {{ series.description }}</div>
     Seasons:
    <ul>
    {% for item in seasons %}
        <li><a href="{{ path('acme_remember_series_season', { 'season_id': item.id }) }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
