{% extends 'AcmeRememberSeriesBundle:Default:index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <ul>
    {% for item in series %}
        <li>
            <a href="{{ path('acme_remember_series_single_page', { 'series_id': item.id }) }}">{{ item.name }}</a>
            <a href="{{ path('acme_remember_series_add', { 'series_id': item.id }) }}">add</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
