/* line 3, assetic_compass9K07rA.scss */
.main-menu ul li {
  display: inline-block;
}

/* line 9, assetic_compass9K07rA.scss */
.watched {
  background: mediumseagreen;
}

/* line 13, assetic_compass9K07rA.scss */
.not-watched {
  background: tomato;
}
