/* line 3, assetic_compassVZ2X6l.scss */
.main-menu ul li {
  display: inline-block;
}

/* line 9, assetic_compassVZ2X6l.scss */
.watched {
  background: mediumseagreen;
}

/* line 13, assetic_compassVZ2X6l.scss */
.not-watched {
  background: tomato;
}
