{% extends 'AcmeRememberSeriesBundle:Default:index.html.twig' %}

{% block body %}
    <div>Season: {{ season.name }}!</div>
    <div>Description: {{ season.description }}</div>
    <ul>
    {% for item in episodes %}
        <li><a href="{{ path('acme_remember_series_episode', { 'episode_id': item.id }) }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}